@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
	--alice-blue: #e8f1f2ff;
	--celadon: #b3efb2ff;
	--cambridge-blue: #7a9e7eff;
	--brunswick-green: #31493cff;
	--rich-black: #001a23ff;

	--antiflash-white: #eef0f2ff;
	--silver: #c6c7c4ff;
	--rose-quartz: #a2999eff;
	--rose-taupe: #846a6aff;
	--onyx: #353b3cff;
	--red: #c84361;

	--padding-color: #dfe6ec;

	font-family: 'Inter';
}

body {
	background-color: var(--antiflash-white);
	color: var(--rich-black);

	margin: 0 auto;
	padding: 1rem;
	max-width: 1024px;
}

/* App Header */

.appHeader {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;

	gap: 0.8rem;
}

.appTitle {
	font-size: 3.5rem;
	font-weight: bold;
}

/* Buttons */

.buttonContainer {
	display: flex;
	flex-flow: row nowrap;
	gap: 0.5rem;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;
	width: 400px;
}
.appButton {
	width: 120px;
	height: 50px;
	padding: 0.2rem;
	border-radius: 3rem;

	outline: none;
	border: none;
	cursor: pointer;

	background-color: var(--onyx);
	color: var(--antiflash-white);
	font-weight: bold;
}

.appButton.toDoButton {
	width: 80px;
	height: 40px;
	align-self: flex-end;
}

.closeButton,
.clearButton {
	background-color: #c84361;
}

/* App */

.appContainer {
	display: flex;
	max-width: 768px;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;

	margin: 2rem auto;
}

.appContent {
	display: flex;
	margin: 3rem 0;
	flex-flow: column nowrap;
	align-content: center;
	justify-content: center;
	gap: 0.5rem;
}

.todoHolder {
	align-self: center;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	width: 400px;

	background-color: var(--padding-color);
	padding: 0.5rem;
	border-radius: 3rem;
}

.taskTitle {
	font-weight: normal;
	padding-left: 2rem;
}
.mod {
	color: var(--red);
}
.code {
	font-weight: 500;
	color: var(--padding-color);
	background-color: var(--onyx);
	font-size: 1rem;
	padding: 0.1rem;
	font-style: italic;
}
/* Footer */

.anchors {
	text-decoration: none;
	text-align: center;
}
.anchors:visited,
.anchors:link,
.anchors {
	color: var(--onyx);
}

.modalTemplate,
input[type='text'],
textarea {
	outline: none;
	border: none;
}
.modalInput {
	background-color: var(--padding-color);
	color: var(--brunswick-green);
	padding: 0.5rem;
	border-radius: 1rem;
	resize: none;
}
.modalTemplate {
	border-radius: 1rem 2rem;
}

.modalContainer {
	width: 250px;
	padding: 1rem;
}

.modalTitle {
	font-weight: bold;
	font-size: 2rem;
	text-align: center;
}

.modalHeader {
	margin-bottom: 0.8rem;
}

.modalForms,
.modalContainer {
	display: flex;
	flex-flow: column;
	gap: 0.5rem;
}

/* Responsivity */

@media (max-width: 440px) {
	.buttonContainer {
		max-width: 300px;
		margin: 0;
		flex-flow: column wrap;
	}
	.buttonContainer > .appButton,
	.todoHolder {
		width: 300px;
	}
}
